mixin sResults(data)
	// start sResults
	+b.SECTION.sResults.section#sResults&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Какой конкретно результат Вы получите сразу после уроков
			+e.row.row.mb-40
				mixin resultItem(img, title, text)
					.col-md-6.col-lg-4
						+b.result-item
							+e.img-wrap: +img(src=`img/person-${img}.png`, alt="")
							+e.title= title
							p= text
				+resultItem('1', 'Я – новичок', 'Узнаете, как легко создавать и использовать трендовых роботов, которые будут приносить действительно надежный и стабильный доход.')
				+resultItem('2', 'Я – трейдер', 'Получите доступ к эксклюзивным методикам, которые используют профессиональные трейдеры для создания надежного дохода, устойчивого к любым будущим изменениям на рынке.')
				+resultItem('3', 'Я – инвестор', 'Освоите методы управления портфелем трендовых роботов, позволяющие гарантированно защитить Ваши накопления от убытков и забыть о глубоких просадках, неизбежных в классических инвестициях')
			+buttonBlock('Уроки курса и базовую торговую стратегию Вы получите бесплатно и навсегда – без ограничений и «пробных периодов».', 'Жмите на кнопку прямо сейчас и откройте для себя секреты создания надежного дохода на трендовых роботах.', 'Хочу создать стабильный доход на автопилоте')
	// end sResults