:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}

.fancybox__content>.f-button.is-close-btn {
	--f-button-color: #000;

	top: 0;
	right: 0;
	opacity: 1;
}

.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(884);
	// min-height: 100%; 
	padding: rem(50) rem(20) rem(20) rem(20);
	&__img-wrap {
		width: 100%;
		max-width: rem(340);
		margin-bottom: rem(-20);
		img {
			width: 100%;
		}
	}
	&__content {
		width: 100%;
		@include media-breakpoint-up(lg) {
			max-width: rem(400);
		}
	}
	&__headline {
		font-size: rem(12);
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
	}
	&__description {
		font-size: 0.75rem;
    line-height: 160%;
    // max-width: rem(400);
    // padding-left: 25px;
    // padding-top: 10px;
	}
	iframe {
		height: 260px !important;
	}
	&__timer-box {
		margin-bottom: rem(20);
		span {
			&:before {
				right: -9px;
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='12' fill='none'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='%23000'/%3E%3Ccircle cx='1.5' cy='10.5' r='1.5' fill='%23000'/%3E%3C/svg%3E");
			}
		}
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	.ld_progressbar {
		height: 20px;
		position: relative;
		background: #cdcdcd;
		border-radius: 25px;
		box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
		margin-bottom: rem(20);
		.progress-bar {
			display: block;
			height: 100%;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
			background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
			-webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
			transition: 300ms width linear;
			&:after {
				-webkit-animation: move 10s linear infinite;
				-moz-animation: move 10s linear infinite;
				content: " ";
				position: absolute;
				top: 0;
				// left: 0;
				bottom: 0;
				right: 0;
				background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
				background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
				background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
				z-index: 1;
				-webkit-background-size: 50px 50px;
				-moz-background-size: 50px 50px;
				background-size: 50px 50px;
				-webkit-border-top-right-radius: 8px;
				-webkit-border-bottom-right-radius: 8px;
				-moz-border-radius-topright: 8px;
				-moz-border-radius-bottomright: 8px;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
				-webkit-border-top-left-radius: 20px;
				-webkit-border-bottom-left-radius: 20px;
				-moz-border-radius-topleft: 20px;
				-moz-border-radius-bottomleft: 20px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				overflow: hidden;
				width: 200%;
				left: -100%;
				@keyframes move {
					0% {
						background-position: 0 0;
					}
					100% {
						background-position: 100% 0;
					}
				}
			}
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}