mixin sPromo(data)
	// start sPromo
	+b.SECTION.sPromo.section#sPromo&attributes(attributes)
		+img('img/promo-bg.png').promo-img
		.container
			+e.row.row
				+e.col.col-12.col-lg-6
					+e.bg-wrap
						img(src='img/book-2.png' alt='').img
				+e.col.col-12.col-lg-6
					.wrapper
						h3 Успейте получить доступ к урокам, пока не закончился таймер, и получите ПОДАРОК!
						p Билет на ближайший прямой эфир с Владимиром Чаминым:
						ul
							li Пошаговый план запуска автоматического дохода за один вечер.
							li Как гарантированно сохранить депозит и быть готовым к любому сценарию будущего?
							li Как зарабатывать с комфортом: простота, автоматизация и надежность.
							li Как защититься от убытков, чтобы зарабатывать и никогда не терять?
							li Как создать армию торговых роботов в несколько кликов мышки?
							li Как встроить алгоритм самообучения в торгового робота, чтобы он автоматически адаптировал торговую стратегию к рыночным изменениям?
						+e.btn.btn.btn-primary.link-modal-js(href='#modal-call') Получить доступ к урокам и забрать подарок

	// end sPromo