mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		img(src="img/headerBlock-bg-2.png", alt="").bg
		+e.wrap
			+e.container.container
				+e.row.row
					+e.col.col-lg-8
						h1 Трейдинг без стресса
						+e.subtitle Как зарабатывать на трендах от 50% годовых с помощью роботов?
						p Получите доступ к эксклюзивной методике для создания надежного дохода
						ul
							li 3 урока – готовый пошаговый план
							li Занимает минуту в неделю
							li Доступно новичкам в трейдинге
						+e.person-text
							div(data-bs-toggle="tooltip" data-bs-title=`•&nbsp;Частный инвестор, публичная инвестиционная практика с 2018 года.<br> •&nbsp;Организатор инвестиционного сообщества, ведёт свою мастер-группу с 2019 года (более 500 человек).<br> •&nbsp;Топ-автор Инфо-ДВД. Кредо — продуманные инвестиции с минимальными рисками и минимальным участием эмоций.<br> •&nbsp;С 2004 по 2016 год работал в банковской сфере, сделал успешную карьеру в одном из крупнейших федеральных банков.<br> •&nbsp;Специалист по работе с предприятиями сегмента крупного и крупнейшего бизнеса.`)
								+iconC('info')
							p Владимир Чамин
							span Автор онлайн-курса
						+e.btn-row.row 
							.col-lg-auto
								+e.btn.btn.btn-primary.btn-base.link-modal-js(data-fancybox='modal-1' href="#modal-call") Получить доступ прямо сейчас
									span
							.col-lg-auto
								+e.timer-wrap
									+e.timer-box.timer-box.timer-box-js
										span.days 12
										span.hours 20
										span.minutes 20 
										span.seconds 20
						+e.text Успейте до истечения таймера и получите ПОДАРОК — билет на ближайший прямой эфир с Владимиром Чаминым «Надежный доход на автопилоте за один вечер».
					+e.img-col.col-lg-4
						+e.img
							+img('img/headerBlock-bg-1.png')
							+e.person-text.d-none.d-sm-block
								div(data-bs-toggle="tooltip" data-bs-title=`•&nbsp;Частный инвестор, публичная инвестиционная практика с 2018 года.<br> •&nbsp;Организатор инвестиционного сообщества, ведёт свою мастер-группу с 2019 года (более 500 человек).<br> •&nbsp;Топ-автор Инфо-ДВД. Кредо — продуманные инвестиции с минимальными рисками и минимальным участием эмоций.<br> •&nbsp;С 2004 по 2016 год работал в банковской сфере, сделал успешную карьеру в одном из крупнейших федеральных банков.<br> •&nbsp;Специалист по работе с предприятиями сегмента крупного и крупнейшего бизнеса.`)
									+iconC('info')
								p Владимир Чамин
								span Автор онлайн-курса
						+e.person
							img(src="img/headerBlock-bg-1.png", alt="")
							+e.person-text.d-lg-block
								div(data-bs-toggle="tooltip" data-bs-title=`•&nbsp; Частный инвестор, публичная инвестиционная практика с 2018 года.<br> •&nbsp;Организатор инвестиционного сообщества, ведёт свою мастер-группу с 2019 года (более 500 человек).<br> •&nbsp;Топ-автор Инфо-ДВД. Кредо — продуманные инвестиции с минимальными рисками и минимальным участием эмоций.<br> •&nbsp;С 2004 по 2016 год работал в банковской сфере, сделал успешную карьеру в одном из крупнейших федеральных банков.<br> •&nbsp;Специалист по работе с предприятиями сегмента крупного и крупнейшего бизнеса.`)
									+iconC('info')
								p Владимир Чамин
								span Автор онлайн-курса
	// end headerBlock