mixin sBook(data)
	// start sBook
	+b.SECTION.sBook.section#sBook&attributes(attributes)
		.container
			+b.section-title.text-center
				.sub-text Что Вас ждет внутри пошагового онлайн-курса <br>«Трейдинг без стресса. Как зарабатывать на трендах от 50% годовых с помощью роботов»?
				h2 Новый подход к трейдингу, который изменит Вашу жизнь!
			+e.row.row
				mixin item(title, text)
					.col-card.col-12.col-sm-6
						+b.feature-item&attributes(attributes)
							+e.title!= title
							p!= text
				+e.col.col-12.col-lg-6
					+e.bg-wrap
						img(src='img/book.png' alt='').img
				+e.col.col-12.col-lg-6
					+e.row-cards.row
						+item('Пошаговый план создания источника дохода.', '3 видеоурока – выжимка 20-летнего опыта в трейдинге. Только то, что реально работает и приносит деньги.')
						+item('Надежная защита депозита', 'Вы узнаете, как управлять роботами, чтобы гарантированно защитить свой капитал от убытков. Забудьте навсегда о глубоких просадках и страхе потери денег.')
						+item('Эксклюзивная методика трендовой торговли', 'Авторская методика Владимира Чамина, позволяющая зарабатывать стабильный доход на автопилоте, без стресса и постоянного мониторинга рынка.')
						+item('Адаптация к изменениям на рынке', 'Вы узнаете, как регулярно адаптировать торговых роботов к текущему рынку и продолжать зарабатывать даже во время рыночной нестабильности')
						+item('Искусство быстрого&nbsp;создания трендовых роботов', 'Вы увидите, как в несколько кликов мышки создаются и настраиваются трендовые роботы, которые будут автоматически анализировать рынок и открывать сделки.')
						+item('Персональная поддержка', 'На все Ваши вопросы ответит автор курса, а также (при необходимости) Вы получите персональные консультации от специалистов Службы Заботы. В том числе голосом.')
	// end sBook