mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Вот, почему трендовая торговля по методике Владимира Чамина заслуживает Вашего внимания:
			+e.item
				mixin featureCard(num, text, descr)
					+b.feature-card
						+e.title #[span #{num}] #[.span2 — ] #{text}
						+e.descr= descr
				+featureCard('01', 'Автоматический доход', 'Зарабатывайте без постоянного мониторинга рынка и стресса. Трендовые роботы будут приносить Вам доход даже во время сна.')
				+featureCard('02', 'Защита от кризисов', 'Трендовые роботы приносят деньги, когда рынок растет и когда падает. Главное, чтобы рынок двигался – неважно в какую сторону.')
				+featureCard('03', 'Простота и доступность', 'Трендовая торговля не требует сложных методов и головоломок, она доступна даже новичкам.')
				+featureCard('04', 'Высокая доходность', 'Трендовая торговля позволяет зарабатывать от 50% годовых и выше – идеальный способ быстро создать высокодоходный бизнес.')
				+featureCard('05', 'Гибкость', 'Зарабатывайте с помощью трендовых роботов на любых волатильных рынках и активах: на фьючерсах Московской Биржи, на Форекс, на индексах и фондовых рынках.')
				+featureCard('06', 'Надежность', 'Трендовая стратегия безотказно работает более 75 лет. Благодаря ей в мире появилось уже несколько поколений трейдеров-миллиардеров. Вы можете легко войти в их число.')
			+e.item
				.text-center: h3 Только сегодня! #[span 8890 рублей] День открытых дверей.
			+buttonBlock('Вход открыт всем желающим. Успейте получить бесплатно доступ к урокам, за которые другие ученики платят деньги', 'И да, это действительно практические знания, основанные на 20-летнем опыте автора в трейдинге.', 'Откройте для себя секреты успешного трейдинга прямо сейчас')
	// end sFeatures