// start .sReview
.sReview {
	--sPT: #{rem(30)};
	--sPB: #{rem(26)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(73)};
		--sPB: #{rem(26)};
		--sTPB: #{rem(40)};
	}
	.def-slider {
		margin-bottom: rem(80);
	}
	&__content {
		margin-bottom: rem(40);
		text-align: center;
		h5 {
			font-weight: 500;
			font-size: rem(16);
			margin-bottom: rem(26);
			span {
				opacity: 0.30;
				text-decoration: line-through;
			}
		}
		h4 {
			font-size: rem(20);
			font-weight: 700;
			margin-bottom: rem(26);
		}
	}
	&__btn {
		--bs-btn-padding-x: 1rem;
		--bs-btn-padding-y: #{rem(12.600)};

		display: block;
		max-width: max-content;
		margin: 0 auto rem(23) auto;
	}
	&__timer-box {
		justify-content: center;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sReview