mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		img(src="img/sAuthor-img-3.png", alt="").bg
		+e.container.container
			+b.section-title.text-center
				h2 Владимир Чамин
				.sub-text Автор онлайн-курса «Трейдинг без стресса. Как зарабатывать на трендах от&nbsp;50%&nbsp;годовых с&nbsp;помощью роботов»
			+e.row.row
				.col-lg-6
					ul
						li Частный трейдер и&nbsp;управляющий, в&nbsp;трейдинге с&nbsp;2003&nbsp;года.
						li Разработчик технологий для упрощения и автоматизации трейдинга: Autotrend, TradingVision.PRO, Циклон.
						li В основе успешной торговли – использование фундаментальных рыночных закономерностей и их автоматический трейдинг с помощью портфеля торговых роботов.
						li В кризисном 2014 году установил личный рекорд доходности в автоматическом трейдинге: +253% прибыли к депозиту.
						li Знает индустрию трейдинга изнутри: 11 лет руководил офисом Альпари в Екатеринбурге.
						li Учился у лучших мировых алгоритмических трейдеров: Томас Ниснедал (Чехия), Кевин Дейви (США), Эрнест Чан (США), Андреас Е. Кленоу (Швейцария), Том Бассо (США).
				.col-lg-6
					+e.content
						h6 В своих разработках Владимир всегда ставит главную цель – сделать процесс заработка денег в трейдинге как можно более простым, комфортным и надежным.
						p А благодаря 20-летнему опыту Владимира в трейдинге, его ученики получают самые нужные знания – только то, что работает и стабильно приносит деньги.
				img(src="img/sAuthor-img-1.png", alt="").man

	// end sAuthor