mixin sStableIncome(data)
	// start sStableIncome
	+b.SECTION.sStableIncome.section#sStableIncome&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Стабильный доход на автопилоте
				span Легко и доступно каждому!
				p С 2021 года ученики Владимира Чамина успешно применяют его методику автоматической трендовой торговли и стабильно зарабатывают деньги. Наглядно. Вот такой трейдинг мы называем надежным:
			+defSlider()
				-for(let i = 1; i <= 15; i++)
					+e.slide.swiper-slide(data-fancybox='modal-1' data-src=`img/sAboutTrading-slider-img-${i}.png`): +img(`img/sAboutTrading-slider-img-${i}.png`).res-i
			+buttonBlock('Эти люди, как и Вы, начинали с нуля. Благодаря обучению у Владимира Чамина они смогли достичь финансовой свободы', 'Вы тоже можете быстро прийти к таким результатам. Все, что Вам нужно сделать, это нажать на кнопку и получить доступ к онлайн-курсу прямо сейчас.', 'Создать надежный источник автоматического дохода')
	// end sStableIncome